<div class="jumbotron">
  <div id="content">
    <div id="" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#" data-slide-to="0" class="active"></li>
        <li data-target="#" data-slide-to="1"></li>
        <li data-target="#" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= link_to image_tag("StarWars2.jpg", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %> 
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
        <%= link_to image_tag("Blindspot3.jpg", :alt => "Slide2"), {:class => "img-responsive", :alt => "Responsive image"} %>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
        <%= link_to image_tag("25.jpg", :alt => "Slide3"), {:class => "img-responsive", :alt => "Responsive image"} %>
          <div class="carousel-caption">
          </div>
        </div>
      </div>

      <!-- Controls for slider -->
      <a class="left carousel-control" href="#" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <h4>TV Shows, Movies, Music, Entertainment News & more!</h4>
      <%- if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-info :hover'  %>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info :hover' %>
      <% end %>
    </p>
  </div>
</div>

<div class="featured">
</div>

<div>
  <h3></h3>  
    <% @movies.each do |movie| %>
      <div class="col-xs-8 col-sm-4 col-lg-3">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image') , movie %>
          <!--<%= link_to movie.title, movie %>-->
        </div>
      </div> 
    <% end %>
</div>
<br>

<!-- <div>
  <a href="#top" class="back"><h6>Back to top</h6></a>
</div> -->

<div>
  <h3></h3>  
    <% @shows.each do |show| %> 
      <div class="col-xs-8 col-sm-4 col-lg-3">
        <div class="thumbnail">
          <%= link_to (image_tag show.image.url(:medium), class: 'image') , show %>
          <!--<%= link_to show.title, show %>-->
        </div>
      </div> 
    <% end %>
</div>
<br>

<div>
  <a href="#top" class="back"><h6>Back to top</h6></a>
</div>
  
<div>
  <h3></h3>  
    <% @tunes.each do |tune| %>
      <div class="col-xs-8 col-sm-4 col-lg-3">
        <div class="thumbnail">
          <%= link_to (image_tag tune.image.url(:medium), class: 'image') , tune %>
          <!--<%= link_to tune.title, tune %>-->
        </div>
      </div> 
    <% end %>
</div>
<br>

<div class="featured"></div>







