<%= simple_form_for @show, html: { :multipart => true } do |f| %>
  <div class="form-inputs">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :image %> 
    <%= f.text_field :image %> 
    <%= f.file_field :image %><br>
    <%= f.submit "Update", class: 'btn btn-info' %>
  </div><br>
 <% end %>