<div class="search">
  <%= form_tag search_shows_path,  method: :get, class: "navbar-form navbar-right", role: "search" do %>
  <%= text_field_tag :search, params[:search], class: "form-control" %>
  <br>
  <%= submit_tag "Search TV Shows", name: nil, class: "btn btn-info" %>
  <% end %>
</div>
<br>
<br>

<div class="add"><%= link_to 'Add TV Show', new_show_path %></div>
<br>
<br>
<% @shows.each do |show| %> 
  <div class="col-xs-8 col-sm-4 col-lg-3">
    <div class="thumbnail" align = "center">
      <%= link_to (image_tag show.image.url(:medium), class: 'image') , show %>
      <%= link_to show.title, show %>
      <%= link_to 'Remove', show, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div> 

<% end %>
