<h1><%= @show.title %></h1>
<%= link_to "Review it!", new_show_reviewtv_path(@show), class: "btn btn-info" %>
<%= link_to "Edit", edit_show_path(@show) %>
<%= link_to 'Back', shows_path %>
<br><br>

<div class="row">
  <div class="col-md-5">
    <%= image_tag @show.image.url(:medium) %>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <h1 class="reviewtv_title">Reviews</h1><br>
    <br>
    <% if @reviewtvs.blank? %>
      <h3 align = "center">No reviews yet, go ahead and become the first!</h3>
    <% else %>
      <% @reviewtvs.each do |reviewtv| %>
        <div class="reviewtvs">
          <div class="col-md-4 col-md-offset-3">
            <p><%= reviewtv.comment %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
    



 
