<!DOCTYPE html>
<html ng-app="mediahaven">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>MediaHaven</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'main' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">
      <div class="container-fluid">
        <ul class="nav nav-tabs">  
          <%= link_to "Home", root_path %> 
          <%= link_to "TV Shows", shows_path %>
          <%= link_to "Movies", movies_path %> 
          <%= link_to "Music", tunes_path %> 
          <%= link_to "Entertainment News", "#" %>
          <%= link_to "About", about_path %>
          <a name="top"></a>
          <div class="pull-right user-info">
            <% if current_user %>
              <h5>Hi, you're signed in as:</h5> <em><%= link_to (current_user.name || current_user.email), edit_user_registration_path %> </em>
              <small><%= link_to "Sign out", destroy_user_session_path, class: 'movielink', method: :delete %></small>
            <div align = "center"><%= image_tag(current_user.image)%></div> <br>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %> <em>or</em> 
              <%= link_to "Sign Up", new_user_registration_path %><em><br>
            <% end %>
          </div>
          <h1><em><span>MediaHaven</span></em></h1>
        </ul>
      
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>

        <% elsif flash[:error] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:error] %>
          </div>

        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
      
        <div class="" ng-view>
          <%= yield %>
        </div>

        <footer id="footer"> 
          <div>
            <a href="#top" class="back"><h6>Back to top</h6>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
          </div>
          <%= link_to "Home", root_path %> 
          <%= link_to "TV Shows", shows_path %>
          <%= link_to "Movies", movies_path %> 
          <%= link_to "Music", tunes_path %> 
          <%= link_to "Entertainment News", "#" %> 
          <%= link_to "About", about_path %> 
          <br>
          <div id="bottom-footer">
            <em>
              Copyright &copy; 2015 FreeSpirit Development
            </em>
          </div>
        </footer>
  
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 'your-app-id',
          xfbml      : true,
          version    : 'v2.1'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
      $( document ).ready(function() {
        $('.carousel').carousel();
      });
    </script>
  </body>
</html>
