<!DOCTYPE html>
<html>
<head>
  <title>Mediahaven</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="pull-right user-info">
           <% if current_user %>
             Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% else %>
             <%= link_to "Sign In", new_user_session_path %> or
             <%= link_to "Sign Up", new_user_registration_path %>
           <% end %>
         </div>
  <div id="wrapper">
    <div class="container-fluid">
      <ul class="nav nav-tabs">  
        <%= link_to "Home", root_path %> |
        <%= link_to "TV Shows", shows_path %>|
        <%= link_to "Movies", movies_path %> |
        <%= link_to "Music", tunes_path %> |
        <%= link_to "About", about_path %>
      </ul>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> 
    <%= yield %>

      <footer id="footer" align="center"> <div>
        <%= link_to "Home", root_path %> |
        <%= link_to "TV Shows", shows_path %>|
        <%= link_to "Movies", movies_path %> |
        <%= link_to "Music", tunes_path %> |
        <%= link_to "About", about_path %> 
        </div>
        <br>
        <em>
          Copyright &copy; 2015 CBS VI 360
        </em>
      </footer>
    </div>
  </body>
</html>
