<!DOCTYPE html>
<html>
<head>
  <title>Mediahaven</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
      <ul class="nav nav-tabs">
      
      <%= link_to "Home", root_path %> |
      <%= link_to "Movies", movies_path %> |
      <%= link_to "TV Shows", shows_path %> |
      <%= link_to "Music", tunes_path %> |
      <%= link_to "About", about_path %>
     
      </ul>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> 
  <%= yield %>

  <footer align="center"> <div>
    <%= link_to "Home", root_path %> |
    <%= link_to "Movies", movies_path %> |
    <%= link_to "TV Shows", shows_path %> |
    <%= link_to "Music", tunes_path %> |
    <%= link_to "About", about_path %> 
  </div>
    
  <em>
    Copyright &copy; 2015 CBS VI 360
  </em>
  </footer>

</body>
</html>
